DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=liga_basket

PORT=3000

JWT_SECRET=clave_local_para_tpo_liga_basket
JWT_EXPIRES_IN=2h

# usuario admin: adminTest
# contraseña admin: 123456
